<header class="header">
  <div class="header__logo">
    <img
      src="https://v-klimonov.github.io/eventify-assets/eventify__logo.webp"
      alt="Eventify app logo"
    />
  </div>

  <button 
    class="header__burger-menu"
    [class.header__burger-menu--close]="menuOpen"
    (click)="toggleMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="header__nav-links" [class.header__nav-links--open]="menuOpen">
    <a
      routerLink="/events"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Event Dashboard</a>

    <a routerLink="/events/new" routerLinkActive="active">Create Event</a>

    @if (auth.isAuthenticated$ | async){
    <button (click)="logout()" class="primary-button">Logout</button>
    }
  </nav>
</header>
