$color-vivid-violet: #BF38E8;
$color-electric-pink: #EB42E7;
$color-lavender-purple: #A27AF5;
$color-sky-blue: #2CBCF5;
$color-aqua-glow: #4AE7F9;
$color-charcoal-indigo: #3B3C54;
$color-deep-twilight: #171732d6;



