@import '../../../../styles';

.event {
  &__dashboard {
    min-height: calc(100vh - 98px);
    
    @include xl {
      min-height: calc(100vh - 123px);
    }

    h1, h2 {
      text-align: center;
    }

    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
  
      @include xl {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    h2 {
      @include xl {
        min-height: 100px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    & > * {
      margin-bottom: 15px;
    }


    @include md {
      flex-direction: row;
      margin-left: -10px;
      margin-right: -10px;

      & > * {
        flex: 0 1 calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  
  &__card {
    background-color: $color-deep-twilight;
    border-radius: 8px;
    padding: 30px 15px;
    height: 100%;
    position: relative;

    @include xl {
      padding: 30px;
    }

    &__settings {
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__button, &__items > p {
        cursor: pointer;
      }

      &__button {
        max-width: fit-content;
        margin-left: auto;
        margin-bottom: 15px;
      }

      &__items {
        padding: 10px;
        list-style: none;
        text-align: end;
        background-color: $color-charcoal-indigo;
        border: 2px inset $color-electric-pink;
        border-radius: 8px;
        color: $color-electric-pink;

        p {
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px inset $color-electric-pink;
          text-align: center;

          &:last-child {
            border: none;
            padding-bottom: 0;
          }

          &:hover {
            color: $color-aqua-glow;
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;

      li {
        margin-bottom: 6px;
      }
      
    }

    &__item {
      display: flex;

      div {
        display: flex;
        align-items: center;
        margin-right: 15px;
        line-height: normal;

        @include md {
          margin-right: 30px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      app-svg {
        margin-right: 12px;
      }
    }
  }
}